# TEST: For each person specific - identifying smartphone habits by association rule mining

In [304]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [305]:
appevent = "C:/Users/fdnecker/OneDrive - UGent/UGent/2018-2019/stage/data/Kortrijk/dataKortrijk5022019.xlsx"

In [306]:
df= pd.read_excel(appevent)

In [307]:
df.head()

,Unnamed: 0,application,battery,data_version,endTime,endTimeMillis,id,latitude,longitude,model,...,surveyId,dag,uur,minuut,duur,day,naam_dag,moment,dagverloop,dagverloop_algemeen
0,0,com.snapchat.android,67,1.5,2019-01-17 16:32:16.801,1547739136801,a29814bf-bd90-48e6-b42e-368285fd7579,0.0,0.0,MYA-L41,...,_,2019-01-17,16,31,20.048,17,Thursday,WEEK,na,vóór/na
1,1,com.snapchat.android,61,1.5,2019-01-17 17:01:53.643,1547740913643,a29814bf-bd90-48e6-b42e-368285fd7579,0.0,0.0,MYA-L41,...,_,2019-01-17,17,0,78.783,17,Thursday,WEEK,na,vóór/na
2,2,com.twitter.android,61,1.5,2019-01-17 17:15:23.889,1547741723889,a29814bf-bd90-48e6-b42e-368285fd7579,0.0,0.0,MYA-L41,...,_,2019-01-17,17,5,575.594,17,Thursday,WEEK,na,vóór/na
3,3,com.snapchat.android,46,1.5,2019-01-17 17:56:24.387,1547744184387,a29814bf-bd90-48e6-b42e-368285fd7579,0.0,0.0,MYA-L41,...,_,2019-01-17,17,56,4.160,17,Thursday,WEEK,na,vóór/na
4,4,com.android.mms,42,1.5,2019-01-17 18:32:38.196,1547746358196,a29814bf-bd90-48e6-b42e-368285fd7579,0.0,0.0,MYA-L41,...,_,2019-01-17,18,32,26.229,17,Thursday,WEEK,na,vóór/na

In [215]:
df_ppn1 = df[df.id == 'a29814bf-bd90-48e6-b42e-368285fd7579']

In [216]:
df_ppn1_gd = df_ppn1[['application', 'session', 'naam_dag', 'uur', 'latitude']]

Alles is nu juist geselecteerd. Nu van long naar wide format. De rij indicator is de sessie, en je gaat dus het uur, de dag van die sessie en de geopende applicaties hiervoor gebruiken. Ze krijgen een 1 en 0 waarde.

In [217]:
df_ppn1_app = df_ppn1_gd[['application', 'session', 'latitude']]

In [218]:
df_ppn1_app.head()

            application     session  latitude
0  com.snapchat.android  1547738718       0.0
1  com.snapchat.android  1547740566       0.0
2   com.twitter.android  1547740566       0.0
3  com.snapchat.android  1547741927       0.0
4       com.android.mms  1547745578       0.0

In [219]:
df_ppn1_dag = df_ppn1_gd[['naam_dag', 'session', 'latitude']]

In [220]:
df_ppn1_uur = df_ppn1_gd[['uur', 'session', 'latitude']]

In [221]:
application = df_ppn1_app.pivot_table(index=['session'], columns='application', aggfunc='count', fill_value=0)

In [222]:
application

                           latitude                                          \
application com.android.calculator2 com.android.calendar com.android.chrome
session
1547531122                        0                    0                  0
1547531723                        0                    0                  0
1547533705                        0                    0                  0
1547534990                        0                    0                  0
1547536891                        0                    0                  0
...                             ...                  ...                ...
1548691844                        0                    0                  0
1548693625                        0                    0                  0
1548694183                        0                    0                  0
1548694445                        0                    0                  0
1548694946                        0                    0                  0

                                                                              \
application com.android.contacts com.android.deskclock com.android.gallery3d
session
1547531122                     0                     2                     0
1547531723                     0                     1                     0
1547533705                     0                     0                     0
1547534990                     0                     0                     0
1547536891                     0                     0                     0
...                          ...                   ...                   ...
1548691844                     0                     0                     0
1548693625                     0                     0                     0
1548694183                     0                     0                     0
1548694445                     0                     0                     0
1548694946                     0                     0                     0

                                                                    \
application com.android.incallui com.android.mms com.android.phone
session
1547531122                     0               0                 0
1547531723                     0               0                 0
1547533705                     0               0                 0
1547534990                     0               0                 0
1547536891                     0               0                 0
...                          ...             ...               ...
1548691844                     1               0                 0
1548693625                     1               0                 0
1548694183                     0               1                 0
1548694445                     0               0                 0
1548694946                     0               0                 0

                                        ...  \
application com.android.server.telecom  ...
session                                 ...
1547531122                           0  ...
1547531723                           0  ...
1547533705                           0  ...
1547534990                           0  ...
1547536891                           0  ...
...                                ...  ...
1548691844                           0  ...
1548693625                           0  ...
1548694183                           0  ...
1548694445                           0  ...
1548694946                           0  ...

                                                     \
application com.google.android.googlequicksearchbox
session
1547531122                                        0
1547531723                                        0
1547533705                                        0
1547534990                                        0
1547536891                                        0
...                                             ...
1548691844                                        0
1548693625                                        0
1548694183                                        0
1548694445                                        0
1548694946                                        0

                                                                        \
application com.google.android.youtube com.huawei.android.thememanager
session
1547531122                           0                               0
1547531723                           0                               0
1547533705                           0                               0
1547534990                           0                               0
1547536891                           0                               0
...                                ...                             ...
1548691844                           0                               0
1548693625                           0                               0
1548694183                           0                               0
1548694445                           0                               0
1548694946                           0                               0

                                                                              \
application com.huawei.camera com.huawei.systemmanager com.instagram.android
session
1547531122                  0                        0                     0
1547531723                  0                        0                     3
1547533705                  0                        0                     0
1547534990                  0                        0                     0
1547536891                  0                        0                     0
...                       ...                      ...                   ...
1548691844                  1                        0                     1
1548693625                  0                        0                     0
1548694183                  0                        0                     1
1548694445                  0                        0                     0
1548694946                  0                        0                     0

                                                                          \
application com.nuance.swype.emui com.snapchat.android com.spotify.music
session
1547531122                      0                    0                 0
1547531723                      0                    5                 0
1547533705                      0                    5                 0
1547534990                      0                    1                 0
1547536891                      0                    0                 0
...                           ...                  ...               ...
1548691844                      0                    1                 0
1548693625                      0                    0                 0
1548694183                      0                    3                 0
1548694445                      0                    2                 0
1548694946                      0                    1                 0


application com.twitter.android
session
1547531122                    0
1547531723                    1
1547533705                    0
1547534990                    0
1547536891                    0
...                         ...
1548691844                    0
1548693625                    0
1548694183                    0
1548694445                    0
1548694946                    1

[374 rows x 28 columns]

In [223]:
application.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 1547531122 to 1548694946
Data columns (total 28 columns):
(latitude, com.android.calculator2)                    374 non-null int64
(latitude, com.android.calendar)                       374 non-null int64
(latitude, com.android.chrome)                         374 non-null int64
(latitude, com.android.contacts)                       374 non-null int64
(latitude, com.android.deskclock)                      374 non-null int64
(latitude, com.android.gallery3d)                      374 non-null int64
(latitude, com.android.incallui)                       374 non-null int64
(latitude, com.android.mms)                            374 non-null int64
(latitude, com.android.phone)                          374 non-null int64
(latitude, com.android.server.telecom)                 374 non-null int64
(latitude, com.android.settings)                       374 non-null int64
(latitude, com.android.systemui)                       374 non-null int64
(latitude, com.bnpp.easybanking)                       374 non-null int64
(latitude, com.example.android.notepad)                374 non-null int64
(latitude, com.facebook.katana)                        374 non-null int64
(latitude, com.facebook.orca)                          374 non-null int64
(latitude, com.google.android.gm)                      374 non-null int64
(latitude, com.google.android.gms)                     374 non-null int64
(latitude, com.google.android.googlequicksearchbox)    374 non-null int64
(latitude, com.google.android.youtube)                 374 non-null int64
(latitude, com.huawei.android.thememanager)            374 non-null int64
(latitude, com.huawei.camera)                          374 non-null int64
(latitude, com.huawei.systemmanager)                   374 non-null int64
(latitude, com.instagram.android)                      374 non-null int64
(latitude, com.nuance.swype.emui)                      374 non-null int64
(latitude, com.snapchat.android)                       374 non-null int64
(latitude, com.spotify.music)                          374 non-null int64
(latitude, com.twitter.android)                        374 non-null int64
dtypes: int64(28)
memory usage: 84.7 KB

In [224]:
dag = df_ppn1_gd.pivot_table(index=['session'], columns='naam_dag', aggfunc='count', fill_value=0)

In [225]:
dag.head()

           application                                                    \
naam_dag        Friday Monday Saturday Sunday Thursday Tuesday Wednesday
session
1547531122           0      0        0      0        0       2         0
1547531723           0      0        0      0        0      11         0
1547533705           0      0        0      0        0       7         0
1547534990           0      0        0      0        0       2         0
1547536891           0      0        0      0        0       1         0

           latitude                  ...                               uur  \
naam_dag     Friday Monday Saturday  ... Thursday Tuesday Wednesday Friday
session                              ...
1547531122        0      0        0  ...        0       2         0      0
1547531723        0      0        0  ...        0      11         0      0
1547533705        0      0        0  ...        0       7         0      0
1547534990        0      0        0  ...        0       2         0      0
1547536891        0      0        0  ...        0       1         0      0


naam_dag   Monday Saturday Sunday Thursday Tuesday Wednesday
session
1547531122      0        0      0        0       2         0
1547531723      0        0      0        0      11         0
1547533705      0        0      0        0       7         0
1547534990      0        0      0        0       2         0
1547536891      0        0      0        0       1         0

[5 rows x 21 columns]

In [226]:
dag.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 1547531122 to 1548694946
Data columns (total 21 columns):
(application, Friday)       374 non-null int64
(application, Monday)       374 non-null int64
(application, Saturday)     374 non-null int64
(application, Sunday)       374 non-null int64
(application, Thursday)     374 non-null int64
(application, Tuesday)      374 non-null int64
(application, Wednesday)    374 non-null int64
(latitude, Friday)          374 non-null int64
(latitude, Monday)          374 non-null int64
(latitude, Saturday)        374 non-null int64
(latitude, Sunday)          374 non-null int64
(latitude, Thursday)        374 non-null int64
(latitude, Tuesday)         374 non-null int64
(latitude, Wednesday)       374 non-null int64
(uur, Friday)               374 non-null int64
(uur, Monday)               374 non-null int64
(uur, Saturday)             374 non-null int64
(uur, Sunday)               374 non-null int64
(uur, Thursday)             374 non-null int64
(uur, Tuesday)              374 non-null int64
(uur, Wednesday)            374 non-null int64
dtypes: int64(21)
memory usage: 64.3 KB

In [227]:
dag_select = dag[dag.columns[range(7)]]

In [228]:
uur = df_ppn1_gd.pivot_table(index=['session'], columns='uur', aggfunc='count', fill_value=0)

In [229]:
uur.head()

           application                             ... naam_dag              \
uur                 0  1  6  7  8  9  10 11 12 13  ...       14 15 16 17 18
session                                            ...
1547531122           0  0  2  0  0  0  0  0  0  0  ...        0  0  0  0  0
1547531723           0  0  3  8  0  0  0  0  0  0  ...        0  0  0  0  0
1547533705           0  0  0  7  0  0  0  0  0  0  ...        0  0  0  0  0
1547534990           0  0  0  2  0  0  0  0  0  0  ...        0  0  0  0  0
1547536891           0  0  0  0  1  0  0  0  0  0  ...        0  0  0  0  0


uur        19 20 21 22 23
session
1547531122  0  0  0  0  0
1547531723  0  0  0  0  0
1547533705  0  0  0  0  0
1547534990  0  0  0  0  0
1547536891  0  0  0  0  0

[5 rows x 60 columns]

In [230]:
uur.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 1547531122 to 1548694946
Data columns (total 60 columns):
(application, 0)     374 non-null int64
(application, 1)     374 non-null int64
(application, 6)     374 non-null int64
(application, 7)     374 non-null int64
(application, 8)     374 non-null int64
(application, 9)     374 non-null int64
(application, 10)    374 non-null int64
(application, 11)    374 non-null int64
(application, 12)    374 non-null int64
(application, 13)    374 non-null int64
(application, 14)    374 non-null int64
(application, 15)    374 non-null int64
(application, 16)    374 non-null int64
(application, 17)    374 non-null int64
(application, 18)    374 non-null int64
(application, 19)    374 non-null int64
(application, 20)    374 non-null int64
(application, 21)    374 non-null int64
(application, 22)    374 non-null int64
(application, 23)    374 non-null int64
(latitude, 0)        374 non-null int64
(latitude, 1)        374 non-null int64
(latitude, 6)        374 non-null int64
(latitude, 7)        374 non-null int64
(latitude, 8)        374 non-null int64
(latitude, 9)        374 non-null int64
(latitude, 10)       374 non-null int64
(latitude, 11)       374 non-null int64
(latitude, 12)       374 non-null int64
(latitude, 13)       374 non-null int64
(latitude, 14)       374 non-null int64
(latitude, 15)       374 non-null int64
(latitude, 16)       374 non-null int64
(latitude, 17)       374 non-null int64
(latitude, 18)       374 non-null int64
(latitude, 19)       374 non-null int64
(latitude, 20)       374 non-null int64
(latitude, 21)       374 non-null int64
(latitude, 22)       374 non-null int64
(latitude, 23)       374 non-null int64
(naam_dag, 0)        374 non-null int64
(naam_dag, 1)        374 non-null int64
(naam_dag, 6)        374 non-null int64
(naam_dag, 7)        374 non-null int64
(naam_dag, 8)        374 non-null int64
(naam_dag, 9)        374 non-null int64
(naam_dag, 10)       374 non-null int64
(naam_dag, 11)       374 non-null int64
(naam_dag, 12)       374 non-null int64
(naam_dag, 13)       374 non-null int64
(naam_dag, 14)       374 non-null int64
(naam_dag, 15)       374 non-null int64
(naam_dag, 16)       374 non-null int64
(naam_dag, 17)       374 non-null int64
(naam_dag, 18)       374 non-null int64
(naam_dag, 19)       374 non-null int64
(naam_dag, 20)       374 non-null int64
(naam_dag, 21)       374 non-null int64
(naam_dag, 22)       374 non-null int64
(naam_dag, 23)       374 non-null int64
dtypes: int64(60)
memory usage: 178.2 KB

In [231]:
uur_select = uur[uur.columns[range(20)]]

In [232]:
uur_select.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 1547531122 to 1548694946
Data columns (total 20 columns):
(application, 0)     374 non-null int64
(application, 1)     374 non-null int64
(application, 6)     374 non-null int64
(application, 7)     374 non-null int64
(application, 8)     374 non-null int64
(application, 9)     374 non-null int64
(application, 10)    374 non-null int64
(application, 11)    374 non-null int64
(application, 12)    374 non-null int64
(application, 13)    374 non-null int64
(application, 14)    374 non-null int64
(application, 15)    374 non-null int64
(application, 16)    374 non-null int64
(application, 17)    374 non-null int64
(application, 18)    374 non-null int64
(application, 19)    374 non-null int64
(application, 20)    374 non-null int64
(application, 21)    374 non-null int64
(application, 22)    374 non-null int64
(application, 23)    374 non-null int64
dtypes: int64(20)
memory usage: 61.4 KB

In [233]:
uur_select[('application','2')] = 0

C:\Users\fdnecker\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [234]:
uur_select[('application','3')] = 0

C:\Users\fdnecker\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [235]:
uur_select[('application','4')] = 0

C:\Users\fdnecker\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [236]:
uur_select[('application','5')] = 0

C:\Users\fdnecker\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [237]:
uur_select.head()

           application                             ...                       \
uur                  0  1  6  7  8  9 10 11 12 13  ... 18 19 20 21 22 23  2
session                                            ...
1547531122           0  0  2  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0
1547531723           0  0  3  8  0  0  0  0  0  0  ...  0  0  0  0  0  0  0
1547533705           0  0  0  7  0  0  0  0  0  0  ...  0  0  0  0  0  0  0
1547534990           0  0  0  2  0  0  0  0  0  0  ...  0  0  0  0  0  0  0
1547536891           0  0  0  0  1  0  0  0  0  0  ...  0  0  0  0  0  0  0


uur         3  4  5
session
1547531122  0  0  0
1547531723  0  0  0
1547533705  0  0  0
1547534990  0  0  0
1547536891  0  0  0

[5 rows x 24 columns]

application, uur_select, dag_select

In [238]:
application.head()

                           latitude                                          \
application com.android.calculator2 com.android.calendar com.android.chrome
session
1547531122                        0                    0                  0
1547531723                        0                    0                  0
1547533705                        0                    0                  0
1547534990                        0                    0                  0
1547536891                        0                    0                  0

                                                                              \
application com.android.contacts com.android.deskclock com.android.gallery3d
session
1547531122                     0                     2                     0
1547531723                     0                     1                     0
1547533705                     0                     0                     0
1547534990                     0                     0                     0
1547536891                     0                     0                     0

                                                                    \
application com.android.incallui com.android.mms com.android.phone
session
1547531122                     0               0                 0
1547531723                     0               0                 0
1547533705                     0               0                 0
1547534990                     0               0                 0
1547536891                     0               0                 0

                                        ...  \
application com.android.server.telecom  ...
session                                 ...
1547531122                           0  ...
1547531723                           0  ...
1547533705                           0  ...
1547534990                           0  ...
1547536891                           0  ...

                                                     \
application com.google.android.googlequicksearchbox
session
1547531122                                        0
1547531723                                        0
1547533705                                        0
1547534990                                        0
1547536891                                        0

                                                                        \
application com.google.android.youtube com.huawei.android.thememanager
session
1547531122                           0                               0
1547531723                           0                               0
1547533705                           0                               0
1547534990                           0                               0
1547536891                           0                               0

                                                                              \
application com.huawei.camera com.huawei.systemmanager com.instagram.android
session
1547531122                  0                        0                     0
1547531723                  0                        0                     3
1547533705                  0                        0                     0
1547534990                  0                        0                     0
1547536891                  0                        0                     0

                                                                          \
application com.nuance.swype.emui com.snapchat.android com.spotify.music
session
1547531122                      0                    0                 0
1547531723                      0                    5                 0
1547533705                      0                    5                 0
1547534990                      0                    1                 0
1547536891                      0                    0                 0


application com.twitter.android
session
1547531122                    0
1547531723                    1
1547533705                    0
1547534990                    0
1547536891                    0

[5 rows x 28 columns]

In [243]:
app = application.reset_index()

In [245]:
app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 29 columns):
(session, )                                            374 non-null int64
(latitude, com.android.calculator2)                    374 non-null int64
(latitude, com.android.calendar)                       374 non-null int64
(latitude, com.android.chrome)                         374 non-null int64
(latitude, com.android.contacts)                       374 non-null int64
(latitude, com.android.deskclock)                      374 non-null int64
(latitude, com.android.gallery3d)                      374 non-null int64
(latitude, com.android.incallui)                       374 non-null int64
(latitude, com.android.mms)                            374 non-null int64
(latitude, com.android.phone)                          374 non-null int64
(latitude, com.android.server.telecom)                 374 non-null int64
(latitude, com.android.settings)                       374 non-null int64
(latitude, com.android.systemui)                       374 non-null int64
(latitude, com.bnpp.easybanking)                       374 non-null int64
(latitude, com.example.android.notepad)                374 non-null int64
(latitude, com.facebook.katana)                        374 non-null int64
(latitude, com.facebook.orca)                          374 non-null int64
(latitude, com.google.android.gm)                      374 non-null int64
(latitude, com.google.android.gms)                     374 non-null int64
(latitude, com.google.android.googlequicksearchbox)    374 non-null int64
(latitude, com.google.android.youtube)                 374 non-null int64
(latitude, com.huawei.android.thememanager)            374 non-null int64
(latitude, com.huawei.camera)                          374 non-null int64
(latitude, com.huawei.systemmanager)                   374 non-null int64
(latitude, com.instagram.android)                      374 non-null int64
(latitude, com.nuance.swype.emui)                      374 non-null int64
(latitude, com.snapchat.android)                       374 non-null int64
(latitude, com.spotify.music)                          374 non-null int64
(latitude, com.twitter.android)                        374 non-null int64
dtypes: int64(29)
memory usage: 84.9 KB

In [246]:
uur_selectV = uur_select.reset_index()

In [247]:
uur_selectV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 25 columns):
(session, )          374 non-null int64
(application, 0)     374 non-null int64
(application, 1)     374 non-null int64
(application, 6)     374 non-null int64
(application, 7)     374 non-null int64
(application, 8)     374 non-null int64
(application, 9)     374 non-null int64
(application, 10)    374 non-null int64
(application, 11)    374 non-null int64
(application, 12)    374 non-null int64
(application, 13)    374 non-null int64
(application, 14)    374 non-null int64
(application, 15)    374 non-null int64
(application, 16)    374 non-null int64
(application, 17)    374 non-null int64
(application, 18)    374 non-null int64
(application, 19)    374 non-null int64
(application, 20)    374 non-null int64
(application, 21)    374 non-null int64
(application, 22)    374 non-null int64
(application, 23)    374 non-null int64
(application, 2)     374 non-null int64
(application, 3)     374 non-null int64
(application, 4)     374 non-null int64
(application, 5)     374 non-null int64
dtypes: int64(25)
memory usage: 73.2 KB

In [248]:
dag_selectV = dag_select.reset_index()

In [260]:
app_bin = app.apply(lambda x: [y if y == 0 else 1 for y in x])
uur_selectV_bin = uur_selectV.apply(lambda x: [y if y == 0 else 1 for y in x])
dag_selectV_bin = dag_selectV.apply(lambda x: [y if y == 0 else 1 for y in x])

In [261]:
df1 = pd.merge(app_bin, uur_selectV_bin, how='right', on=('session',))

In [262]:
df1.head()

            session                latitude                       \
application         com.android.calculator2 com.android.calendar
0                 1                       0                    0
1                 1                       0                    0
2                 1                       0                    0
3                 1                       0                    0
4                 1                       0                    0

                                                                           \
application com.android.chrome com.android.contacts com.android.deskclock
0                            0                    0                     1
1                            0                    0                     1
2                            0                    0                     0
3                            0                    0                     0
4                            0                    0                     0

                                                                        \
application com.android.gallery3d com.android.incallui com.android.mms
0                               0                    0               0
1                               0                    0               0
2                               0                    0               0
3                               0                    0               0
4                               0                    0               0

                               ... application
application com.android.phone  ...          18 19 20 21 22 23  2  3  4  5
0                           0  ...           0  0  0  0  0  0  0  0  0  0
1                           0  ...           0  0  0  0  0  0  0  0  0  0
2                           0  ...           0  0  0  0  0  0  0  0  0  0
3                           0  ...           0  0  0  0  0  0  0  0  0  0
4                           0  ...           0  0  0  0  0  0  0  0  0  0

[5 rows x 53 columns]

In [255]:
df_new = pd.merge(df1, dag_selectV, how='right', on=('session',))

In [256]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 0 to 373
Data columns (total 60 columns):
(session, )                                            374 non-null int64
(latitude, com.android.calculator2)                    374 non-null int64
(latitude, com.android.calendar)                       374 non-null int64
(latitude, com.android.chrome)                         374 non-null int64
(latitude, com.android.contacts)                       374 non-null int64
(latitude, com.android.deskclock)                      374 non-null int64
(latitude, com.android.gallery3d)                      374 non-null int64
(latitude, com.android.incallui)                       374 non-null int64
(latitude, com.android.mms)                            374 non-null int64
(latitude, com.android.phone)                          374 non-null int64
(latitude, com.android.server.telecom)                 374 non-null int64
(latitude, com.android.settings)                       374 non-null int64
(latitude, com.android.systemui)                       374 non-null int64
(latitude, com.bnpp.easybanking)                       374 non-null int64
(latitude, com.example.android.notepad)                374 non-null int64
(latitude, com.facebook.katana)                        374 non-null int64
(latitude, com.facebook.orca)                          374 non-null int64
(latitude, com.google.android.gm)                      374 non-null int64
(latitude, com.google.android.gms)                     374 non-null int64
(latitude, com.google.android.googlequicksearchbox)    374 non-null int64
(latitude, com.google.android.youtube)                 374 non-null int64
(latitude, com.huawei.android.thememanager)            374 non-null int64
(latitude, com.huawei.camera)                          374 non-null int64
(latitude, com.huawei.systemmanager)                   374 non-null int64
(latitude, com.instagram.android)                      374 non-null int64
(latitude, com.nuance.swype.emui)                      374 non-null int64
(latitude, com.snapchat.android)                       374 non-null int64
(latitude, com.spotify.music)                          374 non-null int64
(latitude, com.twitter.android)                        374 non-null int64
(application, 0)                                       374 non-null int64
(application, 1)                                       374 non-null int64
(application, 6)                                       374 non-null int64
(application, 7)                                       374 non-null int64
(application, 8)                                       374 non-null int64
(application, 9)                                       374 non-null int64
(application, 10)                                      374 non-null int64
(application, 11)                                      374 non-null int64
(application, 12)                                      374 non-null int64
(application, 13)                                      374 non-null int64
(application, 14)                                      374 non-null int64
(application, 15)                                      374 non-null int64
(application, 16)                                      374 non-null int64
(application, 17)                                      374 non-null int64
(application, 18)                                      374 non-null int64
(application, 19)                                      374 non-null int64
(application, 20)                                      374 non-null int64
(application, 21)                                      374 non-null int64
(application, 22)                                      374 non-null int64
(application, 23)                                      374 non-null int64
(application, 2)                                       374 non-null int64
(application, 3)                                       374 non-null int64
(application, 4)                                       374 non-null int64
(application, 5)                                       374 non-null int64
(application, Friday)                                  374 non-null int64
(application, Monday)                                  374 non-null int64
(application, Saturday)                                374 non-null int64
(application, Sunday)                                  374 non-null int64
(application, Thursday)                                374 non-null int64
(application, Tuesday)                                 374 non-null int64
(application, Wednesday)                               374 non-null int64
dtypes: int64(60)
memory usage: 178.2 KB

In [258]:
df_cor = df_new.apply(lambda x: [y if y == 0 else 1 for y in x])

In [259]:
df_cor.head()

            session                latitude                       \
application         com.android.calculator2 com.android.calendar
0                 1                       0                    0
1                 1                       0                    0
2                 1                       0                    0
3                 1                       0                    0
4                 1                       0                    0

                                                                           \
application com.android.chrome com.android.contacts com.android.deskclock
0                            0                    0                     1
1                            0                    0                     1
2                            0                    0                     0
3                            0                    0                     0
4                            0                    0                     0

                                                                        \
application com.android.gallery3d com.android.incallui com.android.mms
0                               0                    0               0
1                               0                    0               0
2                               0                    0               0
3                               0                    0               0
4                               0                    0               0

                               ... application                               \
application com.android.phone  ...           3  4  5 Friday Monday Saturday
0                           0  ...           0  0  0      0      0        0
1                           0  ...           0  0  0      0      0        0
2                           0  ...           0  0  0      0      0        0
3                           0  ...           0  0  0      0      0        0
4                           0  ...           0  0  0      0      0        0


application Sunday Thursday Tuesday Wednesday
0                0        0       1         0
1                0        0       1         0
2                0        0       1         0
3                0        0       1         0
4                0        0       1         0

[5 rows x 60 columns]

In [264]:
df_cor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 0 to 373
Data columns (total 60 columns):
(session, )                                            374 non-null int64
(latitude, com.android.calculator2)                    374 non-null int64
(latitude, com.android.calendar)                       374 non-null int64
(latitude, com.android.chrome)                         374 non-null int64
(latitude, com.android.contacts)                       374 non-null int64
(latitude, com.android.deskclock)                      374 non-null int64
(latitude, com.android.gallery3d)                      374 non-null int64
(latitude, com.android.incallui)                       374 non-null int64
(latitude, com.android.mms)                            374 non-null int64
(latitude, com.android.phone)                          374 non-null int64
(latitude, com.android.server.telecom)                 374 non-null int64
(latitude, com.android.settings)                       374 non-null int64
(latitude, com.android.systemui)                       374 non-null int64
(latitude, com.bnpp.easybanking)                       374 non-null int64
(latitude, com.example.android.notepad)                374 non-null int64
(latitude, com.facebook.katana)                        374 non-null int64
(latitude, com.facebook.orca)                          374 non-null int64
(latitude, com.google.android.gm)                      374 non-null int64
(latitude, com.google.android.gms)                     374 non-null int64
(latitude, com.google.android.googlequicksearchbox)    374 non-null int64
(latitude, com.google.android.youtube)                 374 non-null int64
(latitude, com.huawei.android.thememanager)            374 non-null int64
(latitude, com.huawei.camera)                          374 non-null int64
(latitude, com.huawei.systemmanager)                   374 non-null int64
(latitude, com.instagram.android)                      374 non-null int64
(latitude, com.nuance.swype.emui)                      374 non-null int64
(latitude, com.snapchat.android)                       374 non-null int64
(latitude, com.spotify.music)                          374 non-null int64
(latitude, com.twitter.android)                        374 non-null int64
(application, 0)                                       374 non-null int64
(application, 1)                                       374 non-null int64
(application, 6)                                       374 non-null int64
(application, 7)                                       374 non-null int64
(application, 8)                                       374 non-null int64
(application, 9)                                       374 non-null int64
(application, 10)                                      374 non-null int64
(application, 11)                                      374 non-null int64
(application, 12)                                      374 non-null int64
(application, 13)                                      374 non-null int64
(application, 14)                                      374 non-null int64
(application, 15)                                      374 non-null int64
(application, 16)                                      374 non-null int64
(application, 17)                                      374 non-null int64
(application, 18)                                      374 non-null int64
(application, 19)                                      374 non-null int64
(application, 20)                                      374 non-null int64
(application, 21)                                      374 non-null int64
(application, 22)                                      374 non-null int64
(application, 23)                                      374 non-null int64
(application, 2)                                       374 non-null int64
(application, 3)                                       374 non-null int64
(application, 4)                                       374 non-null int64
(application, 5)                                       374 non-null int64
(application, Friday)                                  374 non-null int64
(application, Monday)                                  374 non-null int64
(application, Saturday)                                374 non-null int64
(application, Sunday)                                  374 non-null int64
(application, Thursday)                                374 non-null int64
(application, Tuesday)                                 374 non-null int64
(application, Wednesday)                               374 non-null int64
dtypes: int64(60)
memory usage: 178.2 KB

In [263]:
application.head()

                           latitude                                          \
application com.android.calculator2 com.android.calendar com.android.chrome
session
1547531122                        0                    0                  0
1547531723                        0                    0                  0
1547533705                        0                    0                  0
1547534990                        0                    0                  0
1547536891                        0                    0                  0

                                                                              \
application com.android.contacts com.android.deskclock com.android.gallery3d
session
1547531122                     0                     2                     0
1547531723                     0                     1                     0
1547533705                     0                     0                     0
1547534990                     0                     0                     0
1547536891                     0                     0                     0

                                                                    \
application com.android.incallui com.android.mms com.android.phone
session
1547531122                     0               0                 0
1547531723                     0               0                 0
1547533705                     0               0                 0
1547534990                     0               0                 0
1547536891                     0               0                 0

                                        ...  \
application com.android.server.telecom  ...
session                                 ...
1547531122                           0  ...
1547531723                           0  ...
1547533705                           0  ...
1547534990                           0  ...
1547536891                           0  ...

                                                     \
application com.google.android.googlequicksearchbox
session
1547531122                                        0
1547531723                                        0
1547533705                                        0
1547534990                                        0
1547536891                                        0

                                                                        \
application com.google.android.youtube com.huawei.android.thememanager
session
1547531122                           0                               0
1547531723                           0                               0
1547533705                           0                               0
1547534990                           0                               0
1547536891                           0                               0

                                                                              \
application com.huawei.camera com.huawei.systemmanager com.instagram.android
session
1547531122                  0                        0                     0
1547531723                  0                        0                     3
1547533705                  0                        0                     0
1547534990                  0                        0                     0
1547536891                  0                        0                     0

                                                                          \
application com.nuance.swype.emui com.snapchat.android com.spotify.music
session
1547531122                      0                    0                 0
1547531723                      0                    5                 0
1547533705                      0                    5                 0
1547534990                      0                    1                 0
1547536891                      0                    0                 0


application com.twitter.android
session
1547531122                    0
1547531723                    1
1547533705                    0
1547534990                    0
1547536891                    0

[5 rows x 28 columns]

In [265]:
application = application.reset_index()

In [266]:
df_cor[('session',)] = application[('session',)]

C:\Users\fdnecker\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2855: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)
C:\Users\fdnecker\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\async_helpers.py:68: PerformanceWarning: indexing past lexsort depth may impact performance.
  coro.send(None)
C:\Users\fdnecker\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: PerformanceWarning: indexing past lexsort depth may impact performance.
  interactivity=interactivity, compiler=compiler, result=result)

In [267]:
df_cor.head()

                session                latitude                       \
application             com.android.calculator2 com.android.calendar
0            1547531122                       0                    0
1            1547531723                       0                    0
2            1547533705                       0                    0
3            1547534990                       0                    0
4            1547536891                       0                    0

                                                                           \
application com.android.chrome com.android.contacts com.android.deskclock
0                            0                    0                     1
1                            0                    0                     1
2                            0                    0                     0
3                            0                    0                     0
4                            0                    0                     0

                                                                        \
application com.android.gallery3d com.android.incallui com.android.mms
0                               0                    0               0
1                               0                    0               0
2                               0                    0               0
3                               0                    0               0
4                               0                    0               0

                               ... application                               \
application com.android.phone  ...           3  4  5 Friday Monday Saturday
0                           0  ...           0  0  0      0      0        0
1                           0  ...           0  0  0      0      0        0
2                           0  ...           0  0  0      0      0        0
3                           0  ...           0  0  0      0      0        0
4                           0  ...           0  0  0      0      0        0


application Sunday Thursday Tuesday Wednesday
0                0        0       1         0
1                0        0       1         0
2                0        0       1         0
3                0        0       1         0
4                0        0       1         0

[5 rows x 60 columns]

In [269]:
df_cor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 0 to 373
Data columns (total 60 columns):
(session, )                                            374 non-null int64
(latitude, com.android.calculator2)                    374 non-null int64
(latitude, com.android.calendar)                       374 non-null int64
(latitude, com.android.chrome)                         374 non-null int64
(latitude, com.android.contacts)                       374 non-null int64
(latitude, com.android.deskclock)                      374 non-null int64
(latitude, com.android.gallery3d)                      374 non-null int64
(latitude, com.android.incallui)                       374 non-null int64
(latitude, com.android.mms)                            374 non-null int64
(latitude, com.android.phone)                          374 non-null int64
(latitude, com.android.server.telecom)                 374 non-null int64
(latitude, com.android.settings)                       374 non-null int64
(latitude, com.android.systemui)                       374 non-null int64
(latitude, com.bnpp.easybanking)                       374 non-null int64
(latitude, com.example.android.notepad)                374 non-null int64
(latitude, com.facebook.katana)                        374 non-null int64
(latitude, com.facebook.orca)                          374 non-null int64
(latitude, com.google.android.gm)                      374 non-null int64
(latitude, com.google.android.gms)                     374 non-null int64
(latitude, com.google.android.googlequicksearchbox)    374 non-null int64
(latitude, com.google.android.youtube)                 374 non-null int64
(latitude, com.huawei.android.thememanager)            374 non-null int64
(latitude, com.huawei.camera)                          374 non-null int64
(latitude, com.huawei.systemmanager)                   374 non-null int64
(latitude, com.instagram.android)                      374 non-null int64
(latitude, com.nuance.swype.emui)                      374 non-null int64
(latitude, com.snapchat.android)                       374 non-null int64
(latitude, com.spotify.music)                          374 non-null int64
(latitude, com.twitter.android)                        374 non-null int64
(application, 0)                                       374 non-null int64
(application, 1)                                       374 non-null int64
(application, 6)                                       374 non-null int64
(application, 7)                                       374 non-null int64
(application, 8)                                       374 non-null int64
(application, 9)                                       374 non-null int64
(application, 10)                                      374 non-null int64
(application, 11)                                      374 non-null int64
(application, 12)                                      374 non-null int64
(application, 13)                                      374 non-null int64
(application, 14)                                      374 non-null int64
(application, 15)                                      374 non-null int64
(application, 16)                                      374 non-null int64
(application, 17)                                      374 non-null int64
(application, 18)                                      374 non-null int64
(application, 19)                                      374 non-null int64
(application, 20)                                      374 non-null int64
(application, 21)                                      374 non-null int64
(application, 22)                                      374 non-null int64
(application, 23)                                      374 non-null int64
(application, 2)                                       374 non-null int64
(application, 3)                                       374 non-null int64
(application, 4)                                       374 non-null int64
(application, 5)                                       374 non-null int64
(application, Friday)                                  374 non-null int64
(application, Monday)                                  374 non-null int64
(application, Saturday)                                374 non-null int64
(application, Sunday)                                  374 non-null int64
(application, Thursday)                                374 non-null int64
(application, Tuesday)                                 374 non-null int64
(application, Wednesday)                               374 non-null int64
dtypes: int64(60)
memory usage: 178.2 KB

In [271]:
df_use = df_cor.drop(df_cor.columns[0], axis = 1)

In [272]:
df_use.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 0 to 373
Data columns (total 59 columns):
(latitude, com.android.calculator2)                    374 non-null int64
(latitude, com.android.calendar)                       374 non-null int64
(latitude, com.android.chrome)                         374 non-null int64
(latitude, com.android.contacts)                       374 non-null int64
(latitude, com.android.deskclock)                      374 non-null int64
(latitude, com.android.gallery3d)                      374 non-null int64
(latitude, com.android.incallui)                       374 non-null int64
(latitude, com.android.mms)                            374 non-null int64
(latitude, com.android.phone)                          374 non-null int64
(latitude, com.android.server.telecom)                 374 non-null int64
(latitude, com.android.settings)                       374 non-null int64
(latitude, com.android.systemui)                       374 non-null int64
(latitude, com.bnpp.easybanking)                       374 non-null int64
(latitude, com.example.android.notepad)                374 non-null int64
(latitude, com.facebook.katana)                        374 non-null int64
(latitude, com.facebook.orca)                          374 non-null int64
(latitude, com.google.android.gm)                      374 non-null int64
(latitude, com.google.android.gms)                     374 non-null int64
(latitude, com.google.android.googlequicksearchbox)    374 non-null int64
(latitude, com.google.android.youtube)                 374 non-null int64
(latitude, com.huawei.android.thememanager)            374 non-null int64
(latitude, com.huawei.camera)                          374 non-null int64
(latitude, com.huawei.systemmanager)                   374 non-null int64
(latitude, com.instagram.android)                      374 non-null int64
(latitude, com.nuance.swype.emui)                      374 non-null int64
(latitude, com.snapchat.android)                       374 non-null int64
(latitude, com.spotify.music)                          374 non-null int64
(latitude, com.twitter.android)                        374 non-null int64
(application, 0)                                       374 non-null int64
(application, 1)                                       374 non-null int64
(application, 6)                                       374 non-null int64
(application, 7)                                       374 non-null int64
(application, 8)                                       374 non-null int64
(application, 9)                                       374 non-null int64
(application, 10)                                      374 non-null int64
(application, 11)                                      374 non-null int64
(application, 12)                                      374 non-null int64
(application, 13)                                      374 non-null int64
(application, 14)                                      374 non-null int64
(application, 15)                                      374 non-null int64
(application, 16)                                      374 non-null int64
(application, 17)                                      374 non-null int64
(application, 18)                                      374 non-null int64
(application, 19)                                      374 non-null int64
(application, 20)                                      374 non-null int64
(application, 21)                                      374 non-null int64
(application, 22)                                      374 non-null int64
(application, 23)                                      374 non-null int64
(application, 2)                                       374 non-null int64
(application, 3)                                       374 non-null int64
(application, 4)                                       374 non-null int64
(application, 5)                                       374 non-null int64
(application, Friday)                                  374 non-null int64
(application, Monday)                                  374 non-null int64
(application, Saturday)                                374 non-null int64
(application, Sunday)                                  374 non-null int64
(application, Thursday)                                374 non-null int64
(application, Tuesday)                                 374 non-null int64
(application, Wednesday)                               374 non-null int64
dtypes: int64(59)
memory usage: 175.3 KB

### Association rule mining

In [302]:
freq_items = apriori(df_use, min_support = 0.2, use_colnames=True, verbose=1)

Processing 6 combinations | Sampling itemset size 2

In [303]:
freq_items.head(7)

    support                                           itemsets
0  0.320856                      ((latitude, com.android.mms))
1  0.318182                ((latitude, com.instagram.android))
2  0.783422                 ((latitude, com.snapchat.android))
3  0.221925  ((latitude, com.snapchat.android), (latitude, ...
4  0.262032  ((latitude, com.snapchat.android), (latitude, ...

In [288]:
frq_items = apriori(df_use, min_support=0.05, use_colnames=True)

In [290]:
rules = association_rules(frq_items, metric='lift', min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head())

                                           antecedents  \
68   ((latitude, com.twitter.android), (latitude, c...
105  ((latitude, com.instagram.android), (latitude,...
92   ((latitude, com.twitter.android), (latitude, c...
41                                 ((application, 21))
42                                 ((application, 22))

                            consequents  antecedent support  \
68   ((latitude, com.snapchat.android))            0.053476
105  ((latitude, com.snapchat.android))            0.050802
92   ((latitude, com.snapchat.android))            0.101604
41   ((latitude, com.snapchat.android))            0.088235
42   ((latitude, com.snapchat.android))            0.061497

     consequent support   support  confidence      lift  leverage  conviction
68             0.783422  0.053476    1.000000  1.276451  0.011582         inf
105            0.783422  0.050802    1.000000  1.276451  0.011003         inf
92             0.783422  0.098930    0.973684  1.242860  0.019331    8.229947
41             0.783422  0.085561    0.969697  1.237770  0.016436    7.147059
42             0.783422  0.058824    0.956522  1.220953  0.010645    4.981283

In [291]:
apriori(df_use, min_support=0.2)

    support  itemsets
0  0.320856       (7)
1  0.318182      (23)
2  0.783422      (25)
3  0.221925   (25, 7)
4  0.262032  (25, 23)

Uitleg: dit geeft de kolom indices van de items die bruikbaar kunnen zijn in association rule mining. Via use_colnames vind je over welke item names dit gaat.

In [292]:
apriori(df_use, min_support=0.2, use_colnames=True)

    support                                           itemsets
0  0.320856                      ((latitude, com.android.mms))
1  0.318182                ((latitude, com.instagram.android))
2  0.783422                 ((latitude, com.snapchat.android))
3  0.221925  ((latitude, com.snapchat.android), (latitude, ...
4  0.262032  ((latitude, com.snapchat.android), (latitude, ...

Vormen van een frequente itemset via apriori en een nieuwe kolom toevoegen die de lengte van elke itemset toont;

In [294]:
frequent_itemsets = apriori(df_use, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                            itemsets  length
0  0.783422  ((latitude, com.snapchat.android))       1

In [295]:
frequent_itemsets = apriori(df_use, min_support=0.2, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                                           itemsets  length
0  0.320856                      ((latitude, com.android.mms))       1
1  0.318182                ((latitude, com.instagram.android))       1
2  0.783422                 ((latitude, com.snapchat.android))       1
3  0.221925  ((latitude, com.snapchat.android), (latitude, ...       2
4  0.262032  ((latitude, com.snapchat.android), (latitude, ...       2

In [297]:
frequent_itemsets = apriori(df_use, min_support=0.15, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                                           itemsets  length
0  0.320856                      ((latitude, com.android.mms))       1
1  0.318182                ((latitude, com.instagram.android))       1
2  0.783422                 ((latitude, com.snapchat.android))       1
3  0.168449                            ((application, Friday))       1
4  0.165775                          ((application, Saturday))       1
5  0.173797                            ((application, Sunday))       1
6  0.221925  ((latitude, com.snapchat.android), (latitude, ...       2
7  0.262032  ((latitude, com.snapchat.android), (latitude, ...       2
8  0.155080  ((application, Sunday), (latitude, com.snapcha...       2

In [ ]:
Op basis van support en lengte kan je dan conditioneel selecteren.

In [298]:
#building the model
frq_items = apriori(df_use, min_support=0.05, use_colnames=True)

#collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric='lift', min_threshold =1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
print(rules.head())

                                           antecedents  \
68   ((latitude, com.twitter.android), (latitude, c...
105  ((latitude, com.instagram.android), (latitude,...
92   ((latitude, com.twitter.android), (latitude, c...
41                                 ((application, 21))
42                                 ((application, 22))

                            consequents  antecedent support  \
68   ((latitude, com.snapchat.android))            0.053476
105  ((latitude, com.snapchat.android))            0.050802
92   ((latitude, com.snapchat.android))            0.101604
41   ((latitude, com.snapchat.android))            0.088235
42   ((latitude, com.snapchat.android))            0.061497

     consequent support   support  confidence      lift  leverage  conviction
68             0.783422  0.053476    1.000000  1.276451  0.011582         inf
105            0.783422  0.050802    1.000000  1.276451  0.011003         inf
92             0.783422  0.098930    0.973684  1.242860  0.019331    8.229947
41             0.783422  0.085561    0.969697  1.237770  0.016436    7.147059
42             0.783422  0.058824    0.956522  1.220953  0.010645    4.981283

In [299]:
rules.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 68 to 112
Data columns (total 9 columns):
antecedents           116 non-null object
consequents           116 non-null object
antecedent support    116 non-null float64
consequent support    116 non-null float64
support               116 non-null float64
confidence            116 non-null float64
lift                  116 non-null float64
leverage              116 non-null float64
conviction            116 non-null float64
dtypes: float64(7), object(2)
memory usage: 9.1+ KB

In [300]:
rules.to_excel('rules_ppn1.xlsx')